{% extends 'base.html.twig' %}
{% block title %}Espace Médecin{% endblock %}
{% block body %}
<h1 class="titrepagepatient">Espace Médecin {{ doctor.firstname }} {{ doctor.lastname }}</h1>
<div class="bigdiv">

<div class="leftpart">
        <div class="pimg">
            <img src="https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_640.png" alt="profil image" />
        </div>
        <hr>
        <div class="infopatient">
            <h6>{{ doctor.firstname }} {{ doctor.lastname }} </h6>
            <h6>{{ doctor.phoneNumber }} </h6>
            <h5>Informations:</h5>
    <ul>
        <li>{{ doctor.speciality }}</li>
    </ul>
        </div>
</div>

<div class="chat">
    <hr>
<div class="description">
<h1>hi</h1>
</div>
 <div>
    </div>
    </div>
</div>


<div class="rightpart">
<h5>Suivi par:</h5>
   
    <ul>
        <li>{{doctor.firstname}} {{doctor.lastname}}</li>
        <li>Michel Soignetout</li>
        <li>Christian Cabrol</li>       
    </ul>
</div>
</div>

{% endblock %}